<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestión de Empleados</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Bienvenido a la Gestión de Empleados</h1>
        <table class="table table-bordered">
            <tr>
                <th>Opción</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>Mostrar Empleados</td>
                <td><a th:href="@{/empresa/empleados/listar}" class="btn btn-info">Ver Lista</a></td>
            </tr>
            <tr>
                <td>Ver Salario de un Empleado</td>
                <td><a th:href="@{/empresa/nominas/salario}" class="btn btn-info">Ver Salario</a></td>
            </tr>
            <tr>
                <td>Modificar Empleado</td>
                <td><a th:href="@{/empresa/empleados/buscar}" class="btn btn-info">Buscar Datos</a></td>
            </tr>
        </table>
    </div>
</body>
</html>
